.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    padding: 20px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 15;
    transition: 1s;
    box-shadow: 1px 2px 50px 5px #5a5a5aa6;
}
.cart.active {
    right: 0;
    transition: 0.5s;
}
.cart-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
}
.cart-box {
    display: grid;
    grid-template-columns: 37% 45% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.cart-img {
    width: 100px;
    padding: 10px;
    margin: auto;
}
.detail-box {
    display: grid;
    row-gap: 8px;
}
.cart-product-title {
    font-size: 16px;
    font-weight: 500;
    /* text-transform: uppercase; */
    color: black;
}
.cart-price {
    font-weight: 500;
    font-size: 18px;
}

.cart-quantity {
    font-weight: 500;
    /* text-align: center; */
    font-size: 16px;
}

.cart-remove {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    border-top: 1px solid Black;
}
.total-title {
    font-size: 22px;
    font-weight: 600;
}
.total-price {
    margin-left: 8px;
    font-size: 22px;
}
.btn-buy-cart {
    display: flex;
    margin: 24px auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #1f2b43;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-buy-cart:hover {
    background-color: #5a5a5a;
}
#close-cart {
    position: absolute;
    top: 16px;
    left: 13px;
    cursor: pointer;
    font-size: 25px;
    color: #1f2b43;
}

.carritoVacio {
    font-size: 25px;
    font-weight: 600;
    padding: 50px 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .cart {
        width: 320px;
    }
    .cart-img {
        width: 100px;
    }
}

@media screen and (max-width: 360px) {
    .cart {
        width: 280px;
    }
}
