.details__quantity {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    p {
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #1f2b43;
        width: 50px;
        margin: 0 20px;
    }
    i {
        font-size: 16px;
        font-weight: 600;
        color: #1f2b43;
        cursor: pointer;
    }
}
