main {
    background-color: #f1f1f1;
}
.productCatalog {
    display: flex;
    justify-content: center;
}

.gridCatalog {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.product__container {
    background-color: white;
    width: 250px;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #ebebeb;
    border-bottom: 5px #1f2b43 solid;

    img {
        margin: 20px auto;
        box-shadow: 7px 5px 5px 1px #999090;
        width: 180px;
        height: 295px;
    }

    .product__container--title {
        padding: 0 20px;
        padding-bottom: 20px;
        color: #1f2b43;
        text-transform: uppercase;
        .title__book {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
        }
        .autor__book {
            font-size: 14px;
            font-weight: 600;
            color: #e95246;
        }
        .price__book {
            padding-top: 10px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .product__container--options {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #d7d7d7;
        .btn-details,
        .btn-buy {
            background-color: white;
            color: #1f2b43;
            width: 120px;
            cursor: pointer;
            padding: 20px 0;
            font-size: 14px;
            font-weight: 500;
            i {
                padding-right: 5px;
            }
        }
        .btn-buy-sinstock {
            background-color: white;
            color: #e95246;
            width: 120px;
            padding: 20px 0;
            font-size: 14px;
            font-weight: 500;
            i {
                padding-right: 5px;
            }
        }
    }
}

.btn-details {
    border-right: #d7d7d7 1px solid;
}

@media (max-width: 1266px) {
    .gridCatalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 896px) {
    .gridCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 667px) {
    .gridCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
    .product__container {
        margin: 5px 5px;
        height: auto;
        width: 190px;
        img {
            width: 140px;
            height: 230px;
            margin: 10px auto 20px auto;
        }
        .product__container--title {
            .title__book {
                font-size: 14px;
            }
            .autor__book {
                font-size: 12px;
            }
            .price__book {
                font-size: 14px;
            }
        }
        .product__container--options {
            .btn-details,
            .btn-buy,
            .btn-buy-sinstock {
                width: 92px;
             i{
                padding-right: 0;
             }
            }
        }
    }
}
@media (max-width: 640px) {
    .productCatalog {
        padding-top: 70px;
    }
}
