/* .product__container--quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 20px 20px 20px;
    align-items: center;
    p {
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #1F2B43;
        width: 50px;
    }
    i {
        font-size: 16px;
        font-weight: 600;
        color: #1F2B43;
        cursor: pointer;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; } */